$grayscale-8: #0b1332;
$grayscale-7: #6f7488;
$grayscale-6: #717583;
$grayscale-3: #cacdd7;
$grayscale-2: #f2f3f4;
$grayscale-1: #ffffff;

$primary-6: #113aca;
$primary-default: #466efa;
$primary-2: #dae2ff;
$primary-150: #e5ebff;
$primary-1: #f6f8ff;

$additional-error: #f46666;
$additional-success: #17bc77;

$duration: 0.15s;
